.header {
  width: 100%;
  height: 3.5em;
  background-color: #fafafa;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
}

.header a {
  cursor: pointer;
  padding-left: 2em;
}

.header a:hover {
  opacity: 0.5;
}

.header img {
  height: 100%;
}

